.App {
  display: flex;
  position: relative;
}
.search-screen{
  height: 100vh;
}
.favourite-screen{
  background-color: #e8e8e8;
  height: 110vh;
  margin: 40px;
}
.show-button{
  visibility: hidden;
}
@media (max-width: 830px){
  .button-container{
    display: flex;
  }
  .show-button{
    visibility: visible;
    position: fixed;
    top: 40px;
    right: 40px;
    width: 122px;
    height: 28px;
    background: url('./images/ShowButtonClose.png');
    z-index: 30;
  }
  .show-button .show-button_active{
    background: url('./images/ShowButtonOpen.png');
  }
  .favourite-screen{
    visibility: hidden;
    width: 60%;
    height: 100vh;
  }
  .container-overlay{
    position: relative;
    background-color:rgba(0,0,0,0.5);
    top:0;
    left:0;
    width:100vw;
    height: 110vh;
    z-index:10;
  }
}
